<div>
  Attendees:
  <ul>
      <% @event.attendees.each do |a| %>
        <li> <%= a.username %> </li>
      <% end %>
  </ul>
</div>

<% if @event.start_date >= Date.current %>
    <% if @event.attendees.include?(current_user) %>
      <%= button_to "Cancel my attendance", event_attendance_url(attendance: {attended_event_id: @event, attendee_id: current_user} ), method: :delete %><br />
    <% else %>
      <%= button_to "Attend Event", event_attendances_url(attendance: {attended_event_id: @event, attendee_id: current_user} ) %><br />
    <% end %>
  <% end %>
